/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*BackgroundColor*/

.black{background-color: #000}
.turquoise{background-color: #00ffea }
.pink{background-color: #bd0055}

/*textColor*/

.turquoiseText{color:#00ffea }
.pinkText{color:#bd0055}
.whiteText{color:#fff}


/*
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Intro
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
*/


body{
    font-family: 'Open sans', arial, sans-serif;
    font-weight: 700;
}

.container{
    width: 970px;
    margin: 0 auto;
    background: transparent;

}


.intro{
    position: fixed;
    background: url('../img/introBkgd.jpg') no-repeat;
    background-position: top right;
    background-size: cover;
    top:0;
    width: 100%;
    height: 100%;
    text-align: center;
}


header{
    width: 500px;
}

.intro header h1{
    display: inline-block;
    border-radius: 20px;
    margin: 60px 0 20px 0;
    width: 200px;
    height: 200px;
    transition: all .5s ease;
}

.intro header h1:hover a{
    background-color: #000;
    transition: all .5s ease;
}

header h1 a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all .5s ease;
    margin: 0;

}

header h1 a img{
    position: relative;
    top: 40px;
    width: 168px;
    height: 141px;
    margin: 0;
}

header h2{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
    margin: 0 40px;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
    transition: all .5s ease;
}

header p{
    margin: 35px 0 30px;
    font-size: 20px ;
    font-weight: 400;
    line-height: 30px;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
    transition: all .5s ease;
}

.intro .cta{
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease;
}

.intro .cta li{
    border-radius: 8px;
    margin:20px 0;
    transition: background .5s ease;
}

.cta li:hover a{
    background-color: #000;
    border-radius: 8px;
    transition: background .5s ease;
}

.cta .download{
    display: block;
    width: 230px;
    height: 70px;
    background: url('../img/downloadApple.png') no-repeat;
    background-size: 180px 46px;
    background-position: 50% 40%;
        transition: all .5s ease;
}

.cta .android{
    background: url('../img/downloadGoogle.png') no-repeat;
    background-size: 180px 46px;
    background-position: 50% 40%;


}


/*
~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
DropDown + CTA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~
*/

#infos{
    position: absolute;
    top: 100%;
    width: 100%;
    background: url("../img/pattern.png");
    background-blend-mode: darken;
    background-size: contain;
    background-color: #bd0055;
}


.dropdown{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -60px;
    left:45%;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    transition: all .5s ease;
}

.dropdown:hover{
    background-color: #000;
    transition: all .5s ease;
}



.dropdown span{
    color:#fff;
    font-size: 40px;
    transform: rotate(180deg) translatey(18%);
    background: transparent;
}


#infos .cta{
    position: absolute;
    top: 10px;
    list-style: none;
    display: flex;
   
}

#infos .cta li{
    margin: 0 20px;
    width: 45px;
   
}
#infos .cta li a{
  border-radius: 50%;
}

#infos .cta li:first-child{
    align-self: center;
    width: 100px;
    color:#fff;
}


#infos .download{
    width: 40px;
    height: 40px;
    background-position: 7px 4px;
    background-size: 120px 30px;
}

#infos .download.android{
    background-position: 9px;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
What you can do
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~
*/

#infos h1, #infos h2{
    font-size: 30px;
    color: #fff;
    text-align: center;
}

#infos h2{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
}
.functions{
    display: block;
}
.icones{
    position: absolute;
    top: 0;
    width: 970px;
    background: transparent;
}

.icones li{
    position: absolute;
    list-style: none;
    color:#fff;
    width: 100px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
}

.icones li:hover span{
    color: #00ffea;
    transition: all .5s ease;
}

.icones li span{
    display: block;
    font-size: 100px;
    text-align: center;
    transition: all .5s ease;
}

.explication{
    position: absolute;
    top: 750px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    transition: all .5s ease;
}

.disapear{
    opacity: 0;
    transition: all .5s ease;
}

/*placement icones*/

.live{
   top: 150px;
    left:10%;
}

.eye{
    top: 355px;
    left:5%;
}

.podcast{
    top: 560px;
    left:10%;
}

.diy{
    top: 150px;
    right:10%; 
}

.alert{
    top: 355px;
    right:5%;
}

.partage{
    top: 560px;
    right:10%;
}



/*Iphone*/


.gallery{
    position: absolute;
    width: 236px;
    height: 419px;
    overflow: hidden;
    top:66px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
}

.gallery ul{
    transition: all 1s ease;
}

.gallery li{
    list-style: none;
    position: relative;
}


.coque{
    position: absolute;
    z-index: 10
}

.iphone{
    height: 550px;
    width: 271px;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
    background: transparent;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~
*/

footer{
    margin-top: 200px;
}

footer header{
    border-bottom:solid 1px #fff;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 10px;
}

#infos header h1{
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0px;
}

#infos header h1 a{
    color:#fff;
}


footer header ul{
    flex-grow: 1;
    width: 0;
}

footer header li{
    flex-grow: 1;
    display: inline-block;
    margin-left: 50px;

}
footer header li a{
    font-size: 18px;
    font-weight: 700;
}
 
footer ul{
    float: left;
    width: 25%;
}

footer ul:nth-child(5){
    margin-top: 30px;
}

footer li{
    margin-top: 3px;
    list-style: none;
}
footer li a{
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}

footer a:hover{
    text-decoration: underline;
}

.inline li{
    float: left;
    margin-right: 3px;
}

.bottomFooter{
    width: 100%;
    padding: 20px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.bottomFooter>a{
    padding-top: 5px;
}

footer p{
    flex-grow: 1;
    color:#fff;
    font-size: 10px;
    font-weight: 300;
    padding-top: 15px;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Media queries
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~
*/

@media  screen and (max-width: 600px) {
    .container{
        width: 100%;
        margin:0 ;
    }
    .intro{
        background-size:cover;
    }
    header{
        width: 100%;
    }
    .intro header h1{
        margin: -20px 0;
        transform: scale(.5);
        text-align: center;
    }
    header h2{
        margin:-10px 0 0 0;
        font-size: 30px;
        transition: all .5s ease;
    }
    header p{
        font-size: 14px;
        margin: 10px 40px;
        line-height: 22px;
        text-shadow: 0 0 3px rgba(0,0,0,.8);
        transition: all .5s ease;
    }
    .intro .cta{
        display: inline-block;
        width: 230px;
        text-align: center;
        transform: scale(.9);
        transition: all .5s ease;
    }
    .dropdown{
        transform: scale(.7);
    }
    #infos .cta{display: none;
    }
    
    footer header{
        display: block;
    }
    
    footer header li{
        margin:50px;
    }
    
    footer ul {
    width: 100%;
    text-align: center;
    }
    
    footer header ul {
    width: 100%;
    }
    
    footer li{
        margin: 10px;
    }
    
    footer li a{
        font-size: 14px;
    }
    
    .bottomFooter{
        padding: 0;
        display: block;
        text-align: center;
    }
    
    .bottomFooter p{
        margin-bottom: 5px;
    }
    
    .bottomFooter img{
        margin-bottom: 20px;
    }
    
    .inline li{
        float: none;
    }
    
    #infos header h1 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    }
    
    .iphone{
        height: 430px;
    }
    .coque{
        display: none;
    }
    
    .gallery{
        top:0;
    }
    
    #infos h1{
        margin-top:-30px ;
    }
    .icones{
        width: 100%;
        position: static;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .icones li{
        display: block;
        flex-basis: 33.33%;
        position: static;
        flex-wrap: wrap;
        transform: scale(.8)
    }
    .explication{
        top:840px;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
